        * {
            box-sizing: border-box;
        }

        a {
            all: unset;
        }

        .inner {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
            overflow: hidden;
        }

        .test {
            display: flex;
        }

        header {
            width: 100%;
            height: 60px;
            position: fixed;
            top: 0;
            left: 0;
            z-index: 1000;
        }

        .head--container {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;
            margin-left: 20px;
            margin-right: 20px;
            border-bottom: 1px solid lightgray;
            color: black;
        }

        .head--container2 .head--brand1 .head--brand2 {
            font-size: 25px;
            font-weight: 400;
        }

        .head--container2 {
            display: flex;
            font-size: 11px;
        }

        .signup {
            font-size: 20px;
            font-weight: bold;
            margin: 30px;
            padding: 20px;
            text-align: center;
        }

        .signup--container {
            display: flex;
            font-size: 20px;
            font-weight: bold;
            margin-top: 20px;
            text-align: center;  
            justify-content: center;          
        }

        .signup--form {
            display: flex;
            flex-direction: column;
            font-size: 12px;
            text-align: left;
        }

        .signup--id--container {
            display: flex;
        }


        input {
            border: none;
            padding: 20px;
            outline: none;
            gap: 10px;
        }
        
        .signup--id {
            border-bottom: 1px solid lightgray;
            gap: 10px;
        }

        .signup--name {
           border-bottom: 1px solid lightgray;
        }

        .signup--password {
           border-bottom: 1px solid lightgray;
        }

        .signup--password--check {
            border-bottom: 1px solid lightgray;
        }

        .button {
            color: rgb(86, 66, 196);
            background-color: white;
            border-radius: 20px;
            padding: 8px 15px;
            border-color: rgb(126, 110, 218);
            border-width: 0.3px;
            font-weight: 500;
        }


        .button1 {
            background-color: rgb(86, 66, 196);
            color: white;
            border-radius: 20px;
            margin: 30px;
            font-weight: 500;
            text-align: center;
            width: 300px;
            height: 40px;
        }

        footer {
            border: 1px solid #e4e4e4;
            background-color: #f8f8f8;
            text-align: center;
            padding: 10px;
        }

        .footer--copyright {
            margin: 10px;
            font-size: 11px;
        }



    

